<div class="container-scroller">
    <router-outlet></router-outlet>
    <!--<app-login></app-login>-->
</div>


<!--<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Eversoft App Color</a>
    <a class="navbar-brand right">LogOut</a>
</nav>
<div class="container mt-5">
    <div class="row form-group">
        <div class="col-4 center">
            <app-lista-add></app-lista-add>
        </div>
        <div class="col-8 center">
            <app-lista></app-lista>
        </div>
    </div>
</div>-->